*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#grid{
    width: 350px;
    height: 350px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
}

#grid div{
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    /* position: absolute; */
}

.botones{
    margin-top: 30px;
}

.botones button{
    margin: 5px;
    padding: 3px 5px;
}

.selected{
    border: 1px solid pink;
}

.match{
    border: 1px solid black;
}

.score{
    margin-bottom: 10px;
}